{{ define "main" }}
<div class="mb-3">
  <div class="post-metadata pb-4 border-bottom mb-xl">
    <div class="d-flex flex-wrap align-items-center mb-3">
      <time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ if .Site.Params.showReadingTime }}
      {{ $readingTime := .ReadingTime }}
      <span class="">
        {{ if eq $readingTime 1 }}
          {{ $readingTime }} min read
        {{ else }}
          {{ $readingTime }} min read
        {{ end }}
      </span>
      {{ end }}
    </div>
    
    {{ if .Params.Categories }}
    <div class="mb-3">
      <span class="small text-uppercase fw-medium mb-2 d-block">Categories</span>
      {{ $baseURL := .Site.BaseURL }}
      <div class="d-flex flex-wrap gap-2">
        {{ range .Params.Categories }}
          <a class="badge bg-secondary text-white text-decoration-none px-3 py-2" href="{{ $baseURL }}/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    
    {{ if .Site.Params.showCrossPostsPermalink }}
    {{ if or .Params.bluesky .Params.mastodon .Params.pixelfed .Params.threads .Params.tumblr }}
    <div class="mb-0">
      <span class=" small text-uppercase fw-medium mb-2 d-block">Also posted on</span>
      <div class="d-flex flex-wrap gap-2">
        {{ if .Params.bluesky }}
        <a {{ printf "href=%q" .Params.bluesky.link | safeHTMLAttr }} target="_blank" class="badge bg-secondary text-white text-decoration-none px-3 py-2">
          Bluesky
        </a>
        {{ end }}
        {{ if .Params.mastodon }}
        <a {{ printf "href=%q" (printf "https://%s/@%s/%s" .Params.mastodon.hostname .Params.mastodon.username (string .Params.mastodon.id)) | safeHTMLAttr }} target="_blank" class="badge bg-secondary text-white text-decoration-none px-3 py-2">
          Mastodon
        </a>
        {{ end }}
        {{ if .Params.pixelfed }}
        <a {{ printf "href=%q" (printf "https://%s/p/%s/%s" .Params.pixelfed.hostname .Params.pixelfed.username (string .Params.pixelfed.id)) | safeHTMLAttr }} target="_blank" class="badge bg-secondary text-white text-decoration-none px-3 py-2">
          Pixelfed
        </a>
        {{ end }}
        {{ if .Params.threads }}
        <a {{ printf "href=%q" .Params.threads.url | safeHTMLAttr }} target="_blank" class="badge bg-secondary text-white text-decoration-none px-3 py-2">
          Threads
        </a>
        {{ end }}
        {{ if .Params.tumblr }}
        <a {{ printf "href=%q" (printf "https://%s/%s" .Params.tumblr.hostname (string .Params.tumblr.id)) | safeHTMLAttr }} target="_blank" class="badge bg-secondary text-white text-decoration-none px-3 py-2">
          Tumblr
        </a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
  <div class="single-post-content pt-4" id="my-gallery">
    {{ if .Title }}
    <h2 class="mb-3">{{ .Title }}</h2>
    {{ end }}
    {{ .Content }}
  </div>
</div>

  {{ if .Site.Params.include_conversation }}
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
  {{ end }}
{{ end }}