{{ define "main" }}
<section class="taxonomy-category">
  <!-- Category header -->
  <div class="card mb-6 perma border-0 ms-0 post-card">
    <div class="card-body px-0">
      {{ if .Title }}
      <h5 class="card-title" style="font-weight: 700">Posts in: {{ .Title }}</h5>
      {{ end }}
      <div class="post-content">
        <p>Total: {{ len .Pages }} post{{ if ne (len .Pages) 1 }}s{{ end }}</p>
      </div>
    </div>
  </div>  
  
  <!-- Reuse the post list partial -->
  {{ partial "post-list.html" (dict "Pages" .Pages "Site" .Site) }}
</section>
{{ end }}