{{ $pag := $.Paginator }}

<ul class="nav justify-content-center mx-auto">
    {{ if $pag.HasPrev }}
    <li class="nav-item me-3">
        <a class="text-center nav-link boxy p-3" aria-current="page" href="{{ $pag.Prev.URL }}">
            <i class="fa-solid fa-arrow-left me-2"></i>Newer
        </a>
    </li>
    {{ end }}
    {{ if $pag.HasNext }}
    <li class="nav-item">
        <a class="text-center nav-link boxy p-3" aria-current="page" href="{{ $pag.Next.URL }}">
            Older<i class="fa-solid fa-arrow-right ms-2"></i>
        </a>
    </li>
    {{ end }}
</ul>